- if @flag == 1
  %div
    .contents-item__container__sell-contents__form-box__select-wrap
      %i.contents-item__container__sell-contents__form-box__select-wrap--icon
      %select.contents-item__container__sell-contents__form-box__select-wrap--select{id: "select-cat#{@cat_id}", name: "item[category_id]"}
        %option{value: nil} ---
        - @category.each do |cat|
          %option{value: cat.id}
            = cat.name

- else
  %option{value: nil} ---
  - @category.each do |cat|
    %option{value: cat.id}
      = cat.name

