#wrapper

  .header-email-registration
    .header-email-registration__logo
      = link_to '' do 
        = image_tag 'logo.svg', class: 'registration-header-logo'
    .progress-bar
      %ul
        %li
          会員情報
          .progress-status__done.red
        %li
          電話番号認証
          .progress-status.red
        %li
          お届け先住所入力
          .progress-status.red
        %li.active
          支払い方法
          .progress-status.red
        %li
          完了
          .progress-status

-# 会員情報入力フォーム


= render 'devise/shared/devise-footer'

