- if item.like_user(current_user.id)
  = link_to item_like_path(item, item.like_user(current_user)), method: :delete, class: 'heart-icon', remote: true do
    .fa.fa-heart.fa-2x.heart-red
- else
  = link_to item_likes_path(item), method: :post, class: 'empty-heart', remote: true do
    .fa.fa-heart-o.fa-2x.heart-color