.alert-flash{
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.flash-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.flash-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
