body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  height: 100px;
  width: 100vw;
  padding: 8px 0px 0px;

  .header-box{
    margin: 0px auto;
    width: 1020px;
    &__top{
      display:flex;

      &__image{
        margin-right: 45px;
        .mercari-image{
          height: 36px;
          width: 134px;
        }
      }
      &__search{
        width: 100%;
        display:flex;
        box-sizing: border-box;
        .header-form{
          width: 100%;
          display:flex;
          .input-default{
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            line-height: 1.4em;
            position: relative;
            width: 100%;
            -webkit-appearance: none;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-image: initial;
            outline: none;
            padding: 0px 0px 0px 10px;
            transition: all 0.3s ease-out 0s;
            border-right: none;
          }
          .search-button{
            border-color: rgb(204, 204, 204);
            background-color: rgb(245, 245, 245);
            height: 40px;
            right: 0px;
            top: 0px;
            width: 40px;
            border-radius: 0px 4px 4px 0px;
            padding: 0px;
            border-left: none;
          }
        }
      }
    }

    &__bottom{
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      margin-bottom: 16px;

      a {
        text-decoration: none;
        color: #333;
      }
      svg{
        color: rgb(234, 53, 45);
        height:12px;
        width :15px;
        margin: 0px 4px 0px 0px;
      }
      &__left{

        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        white-space: nowrap;

        &__category-seach{
          height: 44px;
          padding: 0px 20px 0px 0px;
        }
      }

      &__right{

        display: flex;
        font-size: 14px;
        white-space: nowrap;
        svg{
          color: rgb(204, 204, 204);
        }

        a{
          color: #333;
        }
        &__good{
          padding: 0 14px;
          // position: relative;
          display: block;
          height: 44px;
          line-height: 32px;
        }


        &__news{
          padding: 0 14px;
          padding: 0 14px;
          // position: relative;
          display: block;
          height: 44px;
          line-height: 32px;

        }

        &__todo{
          padding: 0 14px;
          padding: 0 14px;
          padding: 0 14px;
          // position: relative;
          display: block;
          height: 44px;
          line-height: 32px;

        }

        &__mypage{
          padding: 0 0 0 14px;
          padding: 0 14px;
          padding: 0 14px;
          // position: relative;
          display: block;
          height: 44px;
          line-height: 32px;

        }
      }
    }
  }
}


.body{
  width: 100vw;

  .slide{
    height: 390px;
    position: relative;
    overflow:hidden;


    &__box{
      position:absolute;
      display:flex;
      background: image-url('top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg');
      &__image1{
        width: 100vw;
        height: 390px;
      }

      &__image2{
        width: 100vw;
      }

      &__image3{
        width: 100vw;
      }
    }
    .prevbtn{
      position:absolute;
      top:225;
      left:20px;
    }

    .nextbtn{
      position:absolute;
      top:225;
      right:20px;
    }
  }

  .popular-category{

    padding: 56px 0px 30px;
    background-color: rgb(255, 255, 255);
    left: 50%;
    margin-left: -50vw;
    position: relative;
    top: 0px;
    width: 100vw;

    &__top{
      background-color: rgb(255, 255, 255);

      font-weight: 600;
      line-height: 1.4em;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0px;
      width: 100vw;
      margin-bottom: 16px;
      text-align: center;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      font-size: 28px;
    }

    &__bottom{
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;

      &__box{
        // display: ;
        text-align: center;
        width: 100%;
        margin: -10px 0px 0px -10px;
        list-style: none;
        li{
          background-color: rgb(239, 239, 239);
          cursor: pointer;
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          border-radius: 15px;
          padding: 8px 16px;
          margin: 10px 0px 0px 10px;
        }
      }

    }
  }

  .product{
    background-color: rgb(245, 245, 245);
    // height: 2102px;
    padding: 42px 0px 140px 0px;
    .ladys-new-items{
      max-width: 1020px;
      width: 100%;
      margin: 0px auto;
      &__top{
        margin-bottom: 16px;
        align-items: flex-end;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        &__title{
          font-size: 24px;
          flex: 1 1 0%;
          margin: 0;

        }

        &__more{
          font-size: 14px;
          padding: 5px 0px 5px 5px;
          color: rgb(0, 149, 238);
          display: block;
          font-size: 12px;
          position: relative;
          font-weight: 600;


        }
        a{
          text-decoration: none;
        }
      }
      &__bottom{

        &__grid{
          grid-template-columns: repeat(5, 1fr);
          gap: 20px 20px;
          display: grid;

          .index-item{
            background-color: #fff !important;
            .index-item__link{
              width: 100%;

              &__small-box{
                width: 100% !important;
                font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
                height: 252px;

                &__top{
                  height: 188px;
                  overflow: hidden;
                  // padding: 0 0 100%;
                  width: 188px;

                  .jojo{
                    width: 188px;
                    height: 188px;
                    position: relative;
                  }


                  p{
                    align-items: center;
                    background: rgba(0,0,0,.4);
                    border-radius: 0 14px 14px 0;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    color: #fff;
                    position: absolute;
                    margin-top: 160px ;
                    font-size: 17px;
                    height: 32px;
                    height: 28px;
                    padding: 0 12px;

                    z-index: 1;
                  }
                }

                .item-small-box__bottom{
                  align-items: center;
                  box-sizing: border-box;
                  box-shadow: 0 2px 4px rgba(0,0,0,.18) !important;
                  color: #222;
                  font-size: 14px;
                  height: 64px !important;
                  line-height: 1.4em;
                  padding: 12px 12px !important;
                  z-index: 2;
                  white-space: normal;
                  word-break: break-word;
                  align-items: center;
                  display: flex;
                  width: 100%;
                  background-color: #fff !important;

                  span{
                    display: inline-block;
                    height: 2.8em;
                    overflow: hidden;
                    // position: relative;
                    height: 40px !important;
                    align-items: center;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .category-link{
    padding: 42px 0px 0px 0px;
    &__linkbox{
      max-width: 1020px;
      width: 100%;
      margin: 0px auto;
      &__top{
        align-items: flex-end;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        &--cat-ul{
          display: block;
          &--cat-li{
            float: left;
            margin: 8px 20px 0 0;
            list-style: none;
            &--cat-a{
              color: #0099e8;
              touch-action: manipulation;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


.arginine{
  height: 260px;
  color: rgb(255, 255, 255);
  background: image-url('mercari_fotter_background.jpg');

  &__vitamin{
    background-position: center center;

    &__v{
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 750px;
      margin: 0px auto;

      .arginine-left{
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;

        &__top{
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: 600;

        }
        &__middle{
          color: rgb(255, 255, 255);
          font-size: 35px;
          margin-bottom: 20px;
        }

        &__bottom{
          display: flex;
          align-items: center;


          .rib{
            height: 68px;
            margin-right: 20px;
            width: 68px;
          }

          .zabieru {
            &__World{
            height: 40px;
            margin-right: 8px;
            width: 144px;
            }
          }

          .santamonica{
            .santamonica__family {
              height: 40px;
              width: 144px;
            }
          }
        }
      }
      .arginine-right{

        &__image66{
          height: 260px;
          width: 300px;
        }
      }
    }
  }
}

.footer{
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-weight: 500;
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;

  &__top{
    width: 1020px;
    margin: 0 auto;
    display:flex;

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      opacity: 0.7;

    }
    h2{
      margin: 0;
      padding: 0;
    }
    ul{
      list-style: none;
      padding: 0,
    }
    li{
      line-height: 1.4em;
      margin: 16px 0px 0px;
    }

    .mercari-about{
      margin-top: 18px;
      padding: 0 20px 0 0;
      width: 20%;

      &__title{
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }

      &__list{

      }
    }

    .mercari-help{
      margin-top: 18px;
      width: 23%;
      // padding: 0 40px 0 0;
      vertical-align: top;

      &__title{
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }
      &__list{
        line-height: 1.4em;
        margin: 16px 0px 0px;
      }
    }

    .mercari-privacy{
      margin-top: 18px;
      padding: 0 40px 0 0;
      width: 42%;

      &__title{
        color: #fff;
        font-size: 16px;
        font-weight: 700;

      }
      &__box{
        display: flex;
        &__list{
          line-height: 1.4em;
          margin: 16px 0px 0px;
          padding: 0px 20px 0px 0px;
        }

        &__list2{
          line-height: 1.4em;
          margin: 16px 0px 0px;

        }
      }
    }
    .mercari-country{
      width: auto;
      margin-top: 18px;
      padding: 0;

      &__title{
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }

      ul{
        line-height: 1.4em;
        margin: 16px 0px 0px;
      }

    }
  }
  &__bottom{
    width: 1020px;
    margin: 30px auto 20px;
    align-items: center;
    display: flex;
    img{
      vertical-align: middle;
    }
    &__center{
      padding-left: 15px;
      width: 75%;
      text-align: center;
    }
  }

  .toppage-shouhin-botton{
    bottom: 32px;
    font-size: 22px;
    height: 160px;
    right: 32px;
    width: 160px;
    position: fixed;
    text-align: center;
    z-index: 2;


    a{
      color: inherit;
      text-decoration: none;
    }

    &__link{

      .toppage-shouhin-botton__secound{
        box-sizing:border-box;
        width: 160px;
        height: 160px;
        padding-top: 32px;
        text-align: center;
        background-color: rgb(234, 53, 45);
        border-radius: 50%;
      &__Usyi{
        font-size: 22px;
        color: rgb(255, 255, 255);
      }

      &__Ydhi{
        width: 60px;
        height: 54px;
        margin-top: 8px;
        max-width: 100%;
        max-height: 100%;
        color: rgb(255, 255, 255);
        display: block;
        margin: 5px auto 0px;
        path{
          height: 53px;
          width : 60px;
        }
      }

      }
    }
  }
}

.td-padding{
  padding: 8px;
}


